@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*================= General Styling =================*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    font-weight: 400;
    background-color: #f5f5f5;
}

h1, h2 {
    font-family: 'Metal Mania', 'Montserrat', sans-serif;
}

h1 {
    font-size: 75px;
}

h3 {
    font-size: 1.25rem;
}

/*================= Special Repeat Styling =================*/
.clear-margin-padding,
.jumbotron {
    margin: 0;
    padding: 0;
}

.underline {
    text-decoration: underline;
}

.text-centre {
    text-align: center;
}

/*================= Colours =================*/

.navbar, 
.dropdown-menu,
.footer {
    background-color: #000;   
}

.dropdown-item,
.hero-container,
.text-icon-links a,
.footer {
    color: #fff;
}

.btn-yellow {
    background-color: #f9f871;
}

.btn-yellow:hover {
    background-color: #f7ad10;
}

.btn-purple {
    background-color: #5E2FBC;
}

.btn-purple:hover {
    background-color: #36013f;
}

.text-icon-links a:hover {
    color: #f7ad10;
}

/*================= Alert bar =================*/
.top-alert-bar {
    background-color: #f7ad10;
    border-color: #f7ad10;
    color: #000;
    border-radius: 0;
    text-align: center;
    font-weight: 500;
}



/*================= Navbar =================*/
/*--- navbar logo ---*/
.navbar-brand img{
    height: 50px;
    width: 50px;
    border-style: solid;
    border-color: #f5f5f5;
    border-width: 1px;
    border-radius: 50%;
}
/*--- navbar links ---*/
.navbar-nav {
    margin-right: 150px;
    font-size: 125%;
}

.navbar-nav .nav-item .nav-link {
    color: #f5f5f5;
    padding: 18px;
}

    /*--- media query to fit CTA button onto tablet navbar ---*/
@media only screen and (min-width: 768px) and (max-width: 979px){
    .navbar-nav {
        margin-right: 0;
        font-size: 110%;
    }
}

    /*--- media query to improve 4K navbar visibility ---*/
@media only screen and (min-width: 2560px) {
    .navbar-nav {
        margin-right: 300px;
        font-size: 150%;
    }
}
    /*--- active link ---*/
.navbar-dark .navbar-nav .active {
    color: #f7ad10;
    font-weight: 700;
    border-style: solid;
    border-width: 0 0 2px 0;
    border-color: #f9f871;
  }
    /*--- nav links hover float shadow effect - credit for hover effects: https://ianlunn.github.io/Hover/ ---*/
.hvr-float-shadow:before {    
    background: #f5f5f5;
    height: 3px;
    border-radius: 25%;
}
    /*--- remove 'hamburger menu' border ---*/
.navbar .navbar-toggler {
    border: 0;
}

/*================= Buttons =================*/
/*--- CTA button ---*/
.btn-cta {
    width: 125px;
    height: 50px;
    border-radius: 25px;
    font-weight: 600;
    padding-top: 12px;
}
/*--- reposition dismiss button on alert bar ---*/
.alert-dismissible .close {
    padding: 0 1.25rem;
}

/*================= Hero sections =================*/
/*--- credit: Code Institute tutorial guidance with lots of individual styling ---*/
.hero-container {
    background: url(../images/hero-image-home.jpg) center/cover no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; 
    height: 80vh;
    background-color: #000;
    position: relative;
    }
/*--- opacity layer over hero image ---*/
.hero-overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
}
/*--- jumbotron centred and made transparent for hero text ---*/
.jumbotron {
    height: 50vh;
    width: 50%;
    margin: 10px auto;
    background-color: transparent;
}
/*--- style logo image on hero section ---*/
.hero-text-image img{
    height: 150px;
    width: 150px;
    border-style: solid;
    border-color: #fff;
    border-width: 2px;
    border-radius: 50%; 
    margin-bottom: 15px;   
}
/*--- social media links on hero section ---*/
.text-icon-links a {
    padding: 10px;
}
/*--- increase screen height to avoid overflow on mobile devices ---*/
@media only screen and (max-width: 767.95px) {
    .hero-container, .hero-overlay {
        height: 120vh;
    }
}

/*================= Footer =================*/
.footer {
    height: 100%;
    width: 100%; 
    text-align: center;   
}
 .footer .row .footer-item h3 {
     padding: 10px;
 }

 .footer .row .footer-item ul {
    color: #adb5bd;
}

/*================= Hours section =================*/
.hours {
    height: 600px;
}

/*--- make screen height responsive to avoid overflow on mobile devices ---*/
@media only screen and (max-width: 768px) {
    .hours {
        height: 100%;
    }
}
/*-- credit: W3S for guidance on using box-shadow https://www.w3schools.com/cssref/css3_pr_box-shadow.asp */
.card {
    border-radius: 20px;
    box-shadow: 10px 10px 15px #36013f;
}

.card-text {
    font-weight: 600;
}